<hr>
<!-- <footer class="text-center">
  <small class="text-muted">
    <ul class="list-inline">
      <li>Elizabeth Orrico</li>
      <li>
        <a href="mailto:{{site.email}}">{{site.email}}</a>
      </li>
      <li>USC Viterbi School of Engineering</li>
      <li>Department of Computer Science</li>
      <li>
        <a href="{{site.url}}">{{site.url}}</a>
      </li>
    </ul>
  </small>
</footer> -->

<div class="footer text-muted">
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-unstyled">
        <li>Elizabeth Orrico</li>
        <li>Greater Chicago Area</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="list-unstyled">
        <li>
          <a href="mailto:{{site.email}}">
            <span class="glyphicon glyphicon-envelope"></span>
            {{site.email}}
          </a>
        </li>
        <li>
          <a href="tel:4344093382">
            <span class="glyphicon glyphicon-earphone"></span>
            (434) 409-3382
          </a>
        </li>
        <li>
          <a href="{{site.url}}">
            <span class="glyphicon glyphicon-globe"></span>
            {{site.url}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
